@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600;700&family=Noto+Sans:ital,wght@0,200;0,700;0,900;1,400&family=Raleway:ital@1&family=Roboto+Condensed:wght@300;400;700&family=Roboto:wght@300;400;500;700;900&family=Ubuntu:wght@300;400;500;700&display=swap');
$defaultFont :"Noto Sans", sans-serif;
$defaultBlue : rgb(75,142,213);
$defaultGray : rgb(210,210,210);
$defaultH2SizeMob : 36px;
$defaultH2SizeTab : 30px;
$defaultH2SizeDes : 28px;
$mediaSizeMob     : 200px;
$mediaSizeTab     : 600px;
$mediaSizeDes     : 1000px;