@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;600&family=Noto+Sans:wght@500&family=Open+Sans:wght@300;400;500;600;700;800&family=Quicksand&family=Roboto:wght@100;300;400;500;700&family=Ubuntu:wght@300;400;500;700&display=swap');
$font-family: 'Noto Sans', sans-serif;
$defaultBlue: rgb(75, 142, 213);
$defaultGray: rgb(210, 210, 210);
$defaultBlack: rgb(36, 36, 36);
$defaultH2SizeMob: 30px;
$defaultH2SizeTab: 36px;
$defaultH2SizeDes: 25px; 
$mediaSizeMob: 200px;
$mediaSizeTab: 600px;
$mediaSizeDes: 1000px;