header {
    height: 30vh;
    background-image: url(/img/header.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

nav {
    align-items: center;
}

h1 {
    font-weight: 400;
}

.theatre {
    padding-top: 5%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 5%;
    
    select {
        border: 1px solid $defaultBlack;
        width: 90%;
        font-size: 15px;
    }
}

.combo,
.popcorn,
.drink,
.snack {
    @include flexColumn;
    align-items: center;
    row-gap: 2vh;

    img {
        width: 100%;
        height: 20vh;
    }
}

.combo > article,
.popcorn > article,
.drink > article,
.snack > article {
    @include flexWrap;
    justify-content: space-evenly;
}

figure {
    width: 45%;
    padding-bottom: 5%;
}

figcaption {
    @include flexColumn;
    row-gap: 1vh;
}

h5 {
    font-size: 17px;
    font-weight: 600;
}

p {
    font-size: 15px;
}
