nav {
    padding: 1%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid $defaultGray;

    > article {
        display: flex;
        column-gap: 3vh;
        align-items: center;
    }

    i {
        font-size: 40px;
        color: $defaultBlue;
    }

    h1 {
        font-size: 20px;
    }

    > ul {
        display: none;
    }

    summary {
        font-size: 30px;
    }

    details {
        position: absolute;
        width: 98%;
        text-align: right;

        > ul {
            position: absolute;
            background-color: white;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            width: 100%;
        }

        li {
            width: 100%;
            display: flex;
        }

        a {
            padding: 3%;
            width: 100%;
            text-decoration: none;
            color: $defaultBlue;
            border-bottom: 0.5px solid whitesmoke;
        }
    }
}

h2 {
    font-size: $defaultH2SizeMob;
    font-weight: 600;
    padding-top: 2%;
}

footer {
    background-color: $defaultBlack;
    color: white;
    font-size: 12px;
    text-align: center;
    padding: 2%;
    @include flexColumn;
    row-gap: 3vh;

    i {
        color: $defaultBlue;
        font-size: 25px;
    }

    a {
        color: white;
        text-decoration: none;
        font-size: 12px;
    }
}

.movies {
    @include flexColumn;
    row-gap: 2vh;
    align-items: center;

    article {
        @include flexWrap;
        justify-content: space-between;
    }

    figure {
        width: 32%;
    }

    img {
        width: 100%;
        height: 18vh;
    }

    figcaption {
        @include flexColumn;
        justify-content: space-between;
        height: 20vh;
    }

    h5 {
        font-size: 15px;
        font-weight: 600;
    }

    small {
        font-size: 10px;
    }

    a {
        text-decoration: none;
        background-color: $defaultBlue;
        color: white;
        font-size: 13px;
        width: 75%;
        text-align: center;
        padding: 2%;
    }
}

.event {
    @include flexColumn;
    align-items: center;
    row-gap: 2vh;
}

header {
    width: 100%;

}

.mr {
    display: flex;
    flex-direction: column;
    row-gap: 2vh;
    align-items: center;
    justify-content: center;
    padding-top: 3%;
    padding-bottom: 3%;

    img{
        width:20vh;
        height: 30vh;
    }

    h2 {
        text-align: center;
        text-transform: capitalize;
    }

    li {
        color: white;
        font-size: 30px;
        text-align: center;
        font-weight: 600;
        font-style: italic;
        
    }

    ol figure {
        display: flex;
        flex-direction: column;
        row-gap: 2vh;
    }
    figcaption {
        text-align: center;
        color: white;
        font-weight: 600;
        text-transform: uppercase;
        background-color: $defaultBlue;
        font-size: 15px;
        
    }

    
}

.refund {
    width: 100%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white !important;
    padding-top: 3%;

    h2 {
    text-align: center;
    padding-bottom: 2%;
    text-transform: capitalize;
    }
}


.accordion-button {
    background-color: $defaultBlue;
    font-weight: 600;
    text-transform: capitalize;
    color: white;
}

.accordion-body {

        text-align: center!important;
        line-height: 1.5;
        text-transform: capitalize;
        font-weight: 500;
        color: $defaultBlack;

}