nav {
    i {
        font-size: 50px;
    }

    h1 {
        font-size: 30px;
    }

    summary {
        font-size: 45px;
    }

    details {
        a {
            font-size: 25px;
        }
    }
}

h2 {
    font-size: $defaultH2SizeTab;
}

footer {
    padding: 1%;
    font-size: 15px;
    
    i {
        font-size: 30px;
    }

    a {
        font-size: 15px;
    }
}

.movies {
    
    article {
        width: 90%;
    }

    figcaption {
        height: 23vh;
        width: 90%;
    }

    h5 {
        font-size: 20px;
    }

    small {
        font-size: 15px;
    }

    a {
        padding: 2%;
        width: 60%;
        font-size: 18px;
    }

    img {
        width: 100%;
        height: 17vh;
    }
}