nav { 

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 0%;
    padding-right: 0;

    
    >ul {
        display: flex;
        justify-content: space-between;
        width: 40%;
        padding: 0;
    }

    li {
        list-style-type: none;
    }

    a {
        text-decoration: none;
        color: $defaultBlack;
        font-weight: 600;
        text-transform: uppercase;

    }

    a:hover {
        color: $defaultBlue;
    }

    >aside {
        display: none;
    }

    h1 {
        padding-right: 17%;
    }

}

header {
    height: 50vh;

    >article a {
        font-size: 15px;
        padding: 1%;
        }
}

.location {

    height: 60vh;
    >section {
        h2 {
            padding-bottom: 20%;
        }
    }
}

.map {
    height: 80%;
    

    >article {
        
        padding-right: 10%;
    }

    >section iframe {
        width: 65vh;
        height: 50vh;
    }

    >section > aside {
        display: flex;
        flex-direction: row;
        width: 70vh;
        justify-content: space-between;
        column-gap: 1vh;

        > article {
            width: 40%;
            padding-right: 2%;
            
        }

        >article:last-child {
            width: 35vh;
        }

    }
}

.join {
    height: 140vh;

    >article {
        >section {
            >article {
                blockquote {
                    text-align: center !important;

                }

                  
                }
            }
        }
    }
    
.join > article a:hover{

        color:navy;
        background-color: white;
          }